body{
    background-color: beige;
    padding: 20px 20px 20px 20px;
}
/* sets all text with h1 with color, width, margin, border, height and text decor*/
h1{
    color: lightblue;
    width: 250px;
    margin: auto;
    border: 1px solid red;
    text-decoration: underline;
    text-align: center;
    height: 75px;
    display:block;
}
/* sets all text with h2 with color, padding, text alignment, and height*/
h2{
    color: rgba(241, 7, 7, 0.568);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    text-align: center;
    height: 30px;
}
/* sets all text with h3 with color, text alignment, and height*/
h3{
    color: rgb(9, 230, 39);
    text-align: center;
    height: 30px;
}

/* sets all text with bold and paragraphs with this color and font*/
i, p{
    color: hsl(229, 100%, 50%);
    text-align: center;
    font-family:'Roboto', sans-serif;
}

/* Exact width */
@media (width: 400px) {
    div {
      color: red;
    }
}
  
/* Minimum width */
@media (min-width: 35rem) {
    div {
      background: rgb(6, 219, 77);
    }
}
  
/* Maximum width */
@media (max-width: 50rem) {
    div {
      border: 2px solid blue;
    }
}

html{
    font-size: 16px;
}

.ems li{
    font-size: 0.8em;
    margin: 50px 40px 50px 40px;
}
.rems li{
    font-size: 1.2rem;
    margin: 50px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
}
.grid{
    background-color: rgba(184, 250, 1, 0.8);
}
.first{
    font-size: 2.54cm;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.second{
    font-size: 1in;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.third{
    font-size: 10vmin;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.margin{
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 2em;
}
.line{
    display: inline;
    position: relative;
}
details summary{
    color:maroon;
}
figcaption{
    position: static;
}
/* When hovering over a button, turn light blue*/
button:hover{
    color:lightblue;
}
/* When pressing a button, turn red */
button:active{
    color: red;
}
.test{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-template-columns: auto;
}
*#emphasize{
    color:blueviolet;
}
/* link to my email should be red*/
a[href="mailto:abvasude@ucsd.com"]{
    color:crimson;
}
p > strong{
    color:orangered;
}
summary ~ p{
    color:palevioletred;
}
img + p{
    color:black;
}
li.adjust{
    color:darkgreen;
}
