
body{
    background-color: beige;
    padding: 30px 50px 10px 100px;
}
/* sets all text with h1 with color, width, margin, border, height and text decor*/
h1 {
    color: lightblue;
    width: 250px;
    margin: auto;
    border: 1px solid red;
    text-decoration: underline;
    text-align: center;
    height: 200px;
    display:block;
}
/* sets all text with h2 with color, padding, text alignment, and height*/
h2{
    color: rgba(241, 7, 7, 0.568);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    text-align: center;
    height: 50px;
}
/* sets all text with h3 with color, text alignment, and height*/
h3{
    color: rgb(9, 230, 39);
    text-align: center;
    height: 100px;
}
/* sets all text with bold this color*/
b{
    color: hsl(30, 100%, 50%);
}
/* sets all text in paragraphs with this font*/
p{
    font-family:'Roboto', sans-serif;
}
/* Exact width */
@media (width: 400px) {
    div {
      color: red;
    }
}
  
/* Minimum width */
@media (min-width: 35rem) {
    div {
      background: rgb(6, 219, 77);
    }
}
  
/* Maximum width */
@media (max-width: 50rem) {
    div {
      border: 2px solid blue;
    }
}

html{
    font-size: 16px;
}
.ems li{
    font-size: 0.8em;
    margin: 50px 40px 50px 40px;
}
.rems li{
    font-size: 1.2rem;
    margin: 50px 40px 50px 40px;
}
.first{
    font-size: 1cm;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.second{
    font-size: 0.5in;
}
.third{
    font-size: 25vmin;
}
.margin{
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 2em;
}
.line{
    display: inline;
}
summary{
    position: relative;
}
figcaption{
    position: static;
}
/* When hovering over a button, turn light blue*/
button:hover{
    color:lightblue;
}
/* When pressing a button, turn red */
button:active{
    color: red;
}
li{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
}